name: System Tests

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install test dependencies
        run: |
          pip install --upgrade pip
          pip install pytest
          pip install pytest-describe
          pip install pytest-spec

      - name: Run system tests
        run: |
          pytest --spec
